/* fuente importada de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Se reinician los espacios que se agregan por defecto, quedan en 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input {
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.crud_title {
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.crud_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.form_input {
    flex: 1 1 200px;
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.button--primary {
    background-color: aquamarine;
    color: black;
}

.button--secundary {
    background-color: #ffc107;
    color: black;
}

.button--danger {
    background-color: #007bff; /* Azul */
    color: white;
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px;
}

.button--danger:disabled {
    background-color: #007bff;
    cursor: not-allowed;
}

.crudtable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table_header, .table_body td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: center;
}

.table_header {
    background-color: #d0f9fa;
    font-weight: bold;
}

.table_body td:nth-child(4) {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#noRecordsMessage {
    text-align: center;
    font-weight: bold;
}

/* Media queries para responsive design */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin: 0 auto 10px auto;
    }

    .crud_title {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    .form_input {
        flex: 1 1 100%;
        margin-right: 0;
    }

    .button {
        flex: 1 1 100%;
    }

    .button--danger {
        width: 100%;
    }

    .crud_form {
        gap: 5px;
    }
}
